:root {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: center;

    --background-color: #E9B384;
    --frame-color: #7C9D96;
    --text-color: #F4F2DE;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color)
}

h1 {
    font-size: 56px;
    color: var(--text-color)
}

h3 {
    font-size: 32px;
    color: var(--text-color)
}

.year-header {
  margin: 5% auto;
}

.content-container {
  width: 66%;
  margin: 10% auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 12px;
}

.clock-container {
  display: flex;
  justify-content: space-evenly;
}

.clock-card {
  width: 17.5%;
  height: 25%;
  padding: 15px;
  background-color: var(--frame-color);
  border-radius: 12px;
}

.clock-card>h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.clock-card .region {
  padding-bottom: 20px;
  margin: auto;
  width: 75%;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}

.clock-card>p {
  font-size: 1.5rem;
}
